.signupWarpper{
    width: 400px;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 40px 20px;
    text-align: center;
}
.signUpName input{ padding: 8px 12px; margin: 4px;}
.signUpMail input{ padding: 8px 12px; margin: 4px;}
.signUpPass input{ padding: 8px 12px; margin: 4px;}
#signUpBtn{width: 100%; padding: 8px 0;}