#Reg_form{
    width: 100%;
    height: 85vh;
    background-color: aliceblue;
    background-image: url(https://i.pinimg.com/564x/8d/89/db/8d89db371a22b1be9b26e0941bff8729.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_warpper{
    width: 500px;
}
.loginform{
    width: 320px;
    min-height: 500px;
    padding: 40px 8px;
    margin: auto;

}
.loginHeading{
    color: rgb(0, 255, 115);
    font-weight: 800;
    margin-bottom: 30px;
}
.signInputs{
    margin-bottom: 30px;
    display: flex;flex-direction: column;
    row-gap: 20px;
}
.signBtn{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}