.loginMain{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    position: absolute;
    top: 0;
    z-index: 999;

}
#loginForm{
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid gray;
}
#loginForm a{
    color: blue;
}
#loginForm h2{
    text-transform: uppercase;
    margin-bottom: 5px;
}
/* ==============inputIcon============= */
.userMail,.userPassword{
    position: relative;
}
.inputUserIconIcon,.inputPassIcon{
    position: absolute;
    top: 7px;
    left: 5px;
}
/* ==============inputIcon============= */
#loginForm input[type="text"] , #loginForm input[type="password"]{
    width: 100%;
    margin-bottom: 8px;
    padding: 5px;
    padding-left: 25px;
}
.loginHelp{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.loginBtn{
    padding: 5px;
    width: 100%;
    margin: 25px 0;
}
.loginWithGoogleBtn, .loginWithFacebookBtn{
    width: 100%;
    margin-top: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
/* .loginWithGoogleBtn{
    background-color: aqua;
} */
.facebookIcon{
    color: blue;
}
.box{
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    margin-left: 230px;
    
}